@include large-device {

    header{
        .menu-btn{
            display: none;
        }
        
        .nav{
  
            .nav-list{

              transform: unset;
              height: unset;
              position: relative;
              background: transparent;
              width: 100%;             
                display: flex;
                flex-direction: row;
                justify-content: end;
                list-style: none;
            }
            .nav-link{
              margin-left: 3.9rem;

              a{
                font-weight: 600;
                font-size: 1.4rem;
                color: #333;
              }

              a:hover{
                color: $primary-color;
              }
            }
            
        }
    }

    .bio{
        flex-direction: row;
        position: relative;


        &::after {
            content: "";
            position: absolute;
            // bottom: 25vh;
            top: 20%;
            right: 0;
            // width: 99%;
            height: 50%;
            border-right: 4px solid #000;
        }
      
        &-pic{
          flex: 0.5;          
        }
      
        &-text{
          flex: 0.5;
          order:-1;
        }

      }

      .projects{

          .project-pics{
            grid-template-columns: repeat(4, 1fr);
          }
      }

      section.work-process {
        display: grid;
        grid-template-areas:
          "heading-1 heading-1 heading-1"
          "work-1 work-2 work-3";
        column-gap: 4rem;
        position: relative;
        margin-top: 10rem;
        
      
        .line {
          position: absolute;
          top: 135px;
          left: 200px;
          width: 50vw;
          // width: 690px; 
          // 1116px;
          height: 1px;
          background: #707070;
          z-index: -111;
        }
      
        h1 {
          grid-area: heading-1;
          justify-self: center;
          font-size: 3rem;
        }
        .work-process-1 {
          grid-area: work-1;
        }
        .work-process-2 {
          grid-area: work-2;
        }
        .work-process-3 {
          grid-area: work-3;
        }
        h3,
        p {
          text-align: center;
          color: #445454;
        }
        h3 {
          margin-bottom: 1rem;
          font-size: 1.9rem;
          letter-spacing: 1px;
        }
        p {
          line-height: 1.4;
          font-size: 1.4rem;
        }
      
        .work-circle {
          background: darken(#fff, 8);
          height: 110px;
          width: 110px;
          border-radius: 50%;
          @include flex;
          margin: 47px auto 31px auto;
      
          p {
            background: $primary-color;
            height: 50px;
            width: 50px;
            font-size: 2rem;
            border-radius: 50%;
            color: #fff;
            @include flex;
          }
        }
      }

      #testimonal {
        display: block;
        color: #445454;
        font-size: 3rem;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        position: relative;
        padding-top: 0;
        
        
        &-top{
          
          margin-top: 400px;
          &-circle-left{
            display: inline-block;
            width: 99px;
            height: 99px;
            border-radius: 50%;
            background: #68E0FF;
            opacity: 0.12;
            
          }
          
          &-circle-right{
            display: inline-block;
            height: 209px;
            width: 209px;
            border-radius: 50%;
            background: #FFCD68;
            opacity: 0.19;
          }
        }
        
        
        p {
          position: relative;
          width: 60vw;
          min-height: 27rem;
          background: #ffffff;
          margin: 0 auto;
          padding: 9rem 10rem 0 10rem;
          font-size: 2.4rem;
          
          small{
            display: block;
            padding-top: 3rem;
            font-size: 1.5rem;
          }
        }
        
        img {
          position: absolute;
          top: -100px;
          left: -100px;
          // top: -120px;
          // left: -60px;
          height: 220px;
          width: 220px;
          padding: 37px;
          border-radius: 50%;
          border: 3px solid #02738e;
        }
        
        i.quote {
          position: absolute;
          right: 230px;
          top: 100px;
          translate: rotate(80deg);
        }
        
        #navigate-circle {
          position: absolute;
          bottom: 0;
          left: 17rem;
          // top: 150px;
          // left: 100px;
          height: 50px;
          width: 50px;
          background: #7768ff;
          border-radius: 50%;
          opacity: 0.19;
        }
        
        #testimonal-bottom {
          display: flex;
          align-items: center;
          min-width: 778px;
          margin: 0 auto;
          justify-content: center;
          margin-top: 5rem;
          
          
          .angle-left {
            margin-right: 20rem;
            font-size: 50px;
          }
          .angle-right {
            margin-left: 20rem;
            font-size: 50px;
          }
          
          span.circle {
            justify-self: space-around;
            height: 19px;
            width: 19px;
            border-radius: 50%;
            background: #02738e;
            opacity: 0.22;
          }
          span.two {
            background: #02738e;
            opacity: 0.22;
            margin: 0 31px;
          }
          span.three {
            background: #02738e;
            opacity: 0.22;
          }

          span.indicate{
            opacity: 1;
          }
        }
      }

      // Contact section
      #contact {
        display: grid;
        grid-template-areas:
          "contact contact"
          "details message";
        grid-template-columns: repeat(2, 1fr);
       
      
        h1 {
          justify-self: center;
          grid-area: contact;
          // margin-bottom: 8rem;
          
        }
        &-details {
          grid-area: details;
          margin-bottom: 0;
    
          #phone-contact {
            margin: 10rem 0;
          }
        }
        &-message {
          grid-area: message;
         
      
          .message-container{
            // border: 1px solid yellow;
            margin: 5rem auto;
            width: 70%;
            color: #fff;
          }
      
        }
      
        .contact-container {
          width: 80%;
          margin: 12rem auto;
          padding: 0;

          & > div{
            display: flex;
            align-items: center;
            padding: 0;

            .MuiSvgIcon-root{
              margin-right: 0.5rem;
            }
          }
      
        }
      
        
      }
   

}
