.menu-btn{
    position: fixed;
    top: 3.5rem;
    right: 2rem;
    z-index: 1500;
    cursor: pointer;
    // justify-self: end;
    // margin-left: 100px;
    @include easeOut;
}
  
.menu-btn-line{
width: 2.8rem;
height: 0.3rem;
margin-bottom: 0.5rem;
background: $primary-color;
@include easeOut;

}
  
.close{
    transform: rotate(180deg);

    .menu-btn-line {
        //   Line 1 - Rotate
        &:nth-child(1) {
            transform: rotate(45deg) translate(5px, 5px);
        }

        // Line 2 - Hide
        &:nth-child(2) {
            opacity: 0;
        }

        // Line 3 - Rotate
        &:nth-child(3) {
        
            transform: rotate(-45deg) translate(7px, -6px);
        }
    }


    // .nav{

    //     &::before{
    //         opacity: 1;
    //     }

    //     .nav-list{
    //         transform: translateX(0);
    //     }
        
    // }
}

.nav{

    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background: rgba(2, 114, 142, .2);
        // opacity: 0;
        // transform: scale();
        @include easeOut;
    }
    

  .nav-list{
    position: fixed;
    width: 80%;
    height: 100vh;
    top: 0;
    left: 0;
    background: $primary-color;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 3rem;
    list-style: none;
    justify-content: space-around;
    z-index: 1000;
    transform: translateX(0);
    @include easeOut;
  }
  
  .nav-link a{
    color: #fff;
    font-size: 1.7rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    z-index: 1000;
  }

}

.close-nav{

    &.nav::before{
        opacity:0;
    }
      .nav-list{
          transform: translateX(-100%);
      }  
}

