@import "config";
@import "menu";

html {
  scroll-behavior: smooth;
}

::placeholder{
  color: #fff;
}

:-ms-input-placeholder{
  color: #fff;
}

::-ms-input-placeholder{
  color: #fff;
}
.container {
  width: 80%;
  // max-width: 1170px;
  margin: 0 auto;
  overflow: hidden;
}

.hidden{
  visibility: hidden;
  height: 0;
}

img {
  width: 100%;
}

a{
  color: #000;
  cursor: pointer;
}

body {
  background: #f5f5f5;
  // overflow: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding-top: 3rem;
  width: 100%;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  
  
  
  .logo{
    width: 17rem;
    // flex: 0.6;
    // flex: .2;
    // position: absolute;
    // top: 5rem;
    // transform: translateY(-50%);
  } 
  
  // .nav{
  //   display: none;
  //   flex: 0.8;
  //   justify-self: end;
    
  // }
}

.bio{
  // margin-top: 8rem;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  align-items: center;
  // border: 2px solid black;
  
  
  &-text{
    // flex: 0.5;
    margin-top: 10rem;
    order: 1;
    h1{
      text-align: left;
      font-size: 3.5rem;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
      letter-spacing: 0px;
      color: #02738E;
      padding-bottom: 1rem;
      
      span{
        display: block;
        padding-bottom: 1rem;
      }
    }
    
    h2{
      font-family: 'Montserrat', sans-serif;
      font-size: 2rem;
      font-weight: bold;
      padding-bottom: 0.5rem;
    }
    
    p{
      font-family: 'Poppins', sans-serif;
      font-size: 1.5rem;
      line-height: 1.9;
      padding: 1rem 0;
    }
    
    .social-links{
      display: flex;
      justify-content: space-between;
      margin-top: 2.8rem;
      width: 20rem;
      
      .MuiSvgIcon-root{
        font-size: 3rem;
        color: $primary-color;
      }
      
      a {
        // display: inline-block;
        // border: 1px solid $primary-color;
        // border-radius: 50%;
        // padding: 10px;
        // background: #ffffff;
        
        img {
          display: inline-block;
          height: 1.5rem;
          width: 1.5rem;
        }
      }
    }
    
    a.hire-btn {
      display: inline-block;
      background: $primary-color;
      font-family: "Montserrat", sans-serif;
      font-weight: 800;
      font-size: 1.5rem;
      color: #fff;
      margin-top: 4rem;
      width: 10rem;
      height: 5rem;
      text-align: center;
      line-height: 3;
      letter-spacing: 2px;
      margin-right: -2px;
      
      // @include easeOut;
      
      &:hover {
        // background: red;
        background: lighten($primary-color, 5);
        cursor: pointer;
      }
    }
  }
}


#projects{
  padding-top: 5rem;
  h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    // margin-bottom: 4rem;
  }
  
  span.box {
    display: inline-block;
    position: relative;
    height: 1.5rem;
    width: 1.5rem;
    background: #ffb60a;
    margin-left: 10px;
    
    &::after {
      content: "";
      position: absolute;
      top: -0.75rem;
      left: 0.75rem;
      display: inline-block;
      height: 1.5rem;
      width: 1.5rem;
      background: #02738e;
    }
  }
  
  #project-pics{
    padding-top: 5rem;
  }
  
  .see {
    display: flex;
    justify-content: end;
    margin-top: 96px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.7rem;
    font-weight: 800;
    
    a {
      color: #000000;
      margin-right: 10px;
    }
  }
}


.projects{
  padding-top: 5rem;
  h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    // margin-bottom: 4rem;
  }
  
  span.box {
    display: inline-block;
    position: relative;
    height: 1.5rem;
    width: 1.5rem;
    background: #ffb60a;
    margin-left: 10px;
    
    &::after {
      content: "";
      position: absolute;
      top: -0.75rem;
      left: 0.75rem;
      display: inline-block;
      height: 1.5rem;
      width: 1.5rem;
      background: #02738e;
    }
  }
  
  .project-pics{
    padding-top: 5rem;
    display: grid;
    gap: 2rem;
  }
  
  .see {
    // display: flex;
    // justify-content: end;
    margin-top: 4rem;
    font-family: "Montserrat", sans-serif;
    font-size: 1.7rem;
    font-weight: 800;
    width: fit-content;
    margin-left: auto;
    
    a {
      color: #000000;
      margin-right: 10px;
    }
  }
}

section.work-process {
  display: none;
}

// Testimonial section
#testimonal{
  padding-top: 10rem;

  p{
    
    position: relative;
    width: 80%;
    // width: 60vw;
    // min-height: 27rem;
    background: #ffffff;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    // margin: 0 auto;
    margin: 0 auto;
    padding: 5.3rem 1rem 3rem 1rem;

    small{
      padding-top: 1rem;
      display:block;
    }
  }

  img{
    position: absolute;
    top: -50px;
    left: -20px;
    height: 90px;
    width: 90px;
    padding: 5px;
    border-radius: 50%;
    border: 3px solid #02738e;
  }

  #testimonal-bottom {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    margin-top: 2.5rem;
    
    
    .angle-left {
      margin-right: 2rem;
      font-size: 30px;
    }
    .angle-right {
      margin-left: 2rem;
      font-size: 30px;
    }
    
    span.circle {
      justify-self: space-around;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background: #02738e;
      opacity: 0.22;
    }
    span.two {
      background: #02738e;
      opacity: 0.22;
      margin: 0 20px;
    }
    span.three {
      background: #02738e;
      opacity: 0.22;
    }

    span.indicate{
      opacity: 1;
    }
  }
  // display: none;
  // display: block;
  //       color: #445454;
  //       font-size: 3rem;
  //       font-family: "Montserrat", sans-serif;
  //       font-weight: 600;
  //       position: relative;
        
        
  //       &-top{
          
  //         margin-top: 400px;
  //         &-circle-left{
  //           display: inline-block;
  //           width: 99px;
  //           height: 99px;
  //           border-radius: 50%;
  //           background: #68E0FF;
  //           opacity: 0.12;
            
  //         }
          
  //         &-circle-right{
  //           display: inline-block;
  //           height: 209px;
  //           width: 209px;
  //           border-radius: 50%;
  //           background: #FFCD68;
  //           opacity: 0.19;
  //         }
  //       }
        
        
  //       p {
  //         position: relative;
  //         width: 60vw;
  //         min-height: 27rem;
  //         background: #ffffff;
  //         margin: 0 auto;
  //         padding: 9rem 10rem 0 10rem;
  //         font-size: 2.4rem;
          
  //         small{
  //           display: block;
  //           padding-top: 3rem;
  //           font-size: 1.5rem;
  //         }
  //       }
        
  //       img {
  //         position: absolute;
  //         top: -100px;
  //         left: -100px;
  //         // top: -120px;
  //         // left: -60px;
  //         height: 220px;
  //         width: 220px;
  //         padding: 37px;
  //         border-radius: 50%;
  //         border: 3px solid #02738e;
  //       }
        
  //       i.quote {
  //         position: absolute;
  //         right: 230px;
  //         top: 100px;
  //         translate: rotate(80deg);
  //       }
        
  //       #navigate-circle {
  //         position: absolute;
  //         bottom: 0;
  //         left: 17rem;
  //         // top: 150px;
  //         // left: 100px;
  //         height: 50px;
  //         width: 50px;
  //         background: #7768ff;
  //         border-radius: 50%;
  //         opacity: 0.19;
  //       }
        
  //       #testimonal-bottom {
  //         display: flex;
  //         align-items: center;
  //         min-width: 778px;
  //         margin: 0 auto;
  //         justify-content: center;
  //         margin-top: 5rem;
          
          
  //         .angle-left {
  //           margin-right: 20rem;
  //           font-size: 50px;
  //         }
  //         .angle-right {
  //           margin-left: 20rem;
  //           font-size: 50px;
  //         }
          
  //         span.circle {
  //           justify-self: space-around;
  //           height: 19px;
  //           width: 19px;
  //           border-radius: 50%;
  //           background: #02738e;
  //           opacity: 0.22;
  //         }
  //         span.two {
  //           background: #02738e;
  //           opacity: 0.22;
  //           margin: 0 31px;
  //         }
  //         span.three {
  //           background: #02738e;
  //           opacity: 0.22;
  //         }

  //         span.indicate{
  //           opacity: 1;
  //         }
  //       }
}


// Contact section
#contact{
  margin-top: 10rem;
  margin-bottom: 5rem;
  
  h1{
    text-align: center;
    color: #464e4e;
    font-size: 3rem;
    margin-bottom: 4rem;
  }
  
  &-details{
    background: #ffffff;
    font-family: "Montserrat", sans-serif;
    color: #848484;
    font-size: 1.5rem;
    min-height: 30vh;
    margin-bottom: 5rem;
  }
  
  .contact-container{
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    padding: 5rem 0;
    
    & > div{
      padding: 1.5rem 1rem;
    }
  }
  
  &-message{
    background: #026e8a;
    min-height: 30vh;
    
    .message-container{
      padding: 3rem 1rem;
      
      input,button,textarea{
        width: 100%;
        background: $primary-color;
        border: 2px solid #fff;
        padding: 1.5rem;
        display: inline-block;
        border-radius: 2.5rem;
        margin-bottom: 2rem;
        color: #fff;
        outline: none;
        
        button{
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          
          span{
            margin-right: 1rem;
          }
        }
      }
    }
  }
}


footer{
  color: $primary-color;
  text-align: center;
  font-size: 1.8rem;
  padding: 2.5rem;
}

@import 'desktop';